/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .banner h1 {
        font-size: 22px;
    }
    .banner p {
        padding: 0;
    }
    .about-text {
        text-align: center;
    }

    .about-text p {
        padding-right: 0;
    }
    
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .banner p {
        padding: 0 15px;
    }

    .about-text {
        text-align: center;
    }

    .about-text p {
        padding-right: 0;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .banner p {
        padding: 0 15px;
    }

    .about-text {
        text-align: center;
    }

    .about-text p {
        padding-right: 0;
    }
}