/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common CSS */

body {
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
}

section {
    padding: 5% 0;
}

hr {
    color: #c6c4c9;
    width: 5%;
    margin: 0 auto;
}

h2 {
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    color: #413d4b;
    font-weight: 900;
    text-transform: uppercase;
}
.btn {
    border-radius: 0;
    color: #00e0d0;
    border: 2px solid #00e0d0;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Header CSS */

.header {
    background-image: url(../images/banner/banner-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 670px;
    overflow: hidden;
 }
 .header::before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #30235f;
     z-index: -1;
     opacity: 0.8;
 }
 .header {
     position: relative;
     z-index: 9999;
     margin-top: 10px;
 }

 .navbar {
    width: 89%;
    margin: 0 auto;
 }

 .menu .active {
    color: #00e0d0 !important;
}
.menu li {
    margin-right: 10px;
}

.menu li:last-child {
    margin-right: 0;
}
.menu li a {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 900;
}

.menu li a:hover {
    color: #00e0d0;
}

/* Banner CSS */
.banner {
    margin-top: 160px;
}
.banner h1 {
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: 900;
    
}
.banner hr {
    color: #00e0d0; 
    height: 10px;
    font-weight: bold;
    margin-top: 20px;
}
.banner p {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-top: 50px;
    padding: 0 195px;
}
.banner-btn {
    margin-top: 40px;
    font-size: 16px;
}

.banner-btn:hover {
    border: 2px solid #ffffff;
    color: #ffffff;
}

/* About CSS */

.aobut-img {
    width: 50%;
    margin: 0 auto;
}

.aobut-img img {
    width: 100%;
}

.about-text h2 {
    margin-bottom: 20px;
}

.about-text p {
    padding-right: 80px;
}

.about-btn:hover {
    border: 2px solid #30235f;
    color: #30235f;
}

/* Story CSS */
#story {
    background-image: url(../images/video/video.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
 }
#story::before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #30235f;
     opacity: 0.85;
}
.story {
    position: relative;
    z-index: 111;
    margin-top: 25px;
    padding: 50px 0;
}
.play-btn { 
    width: 80px;
    height: 80px;
    border: 3px solid #fff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.play-btn img {
    width: 60%;
}
.story p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #fff;
    margin-top: 15px;
}

/* Expertise CSS */

#expertise {
    width: 70%;
    margin: 0 auto;
}

#expertise hr {
    color: #000000;
    width: 50px;
}

.expertise-card .image {
    width:40px;
    height: 40px;
    margin-bottom: 15px;
}

.expertise-card .image img {
    width: 100%;
}

.expertise-card .card {
    box-shadow: rgba(211, 196, 196, 0.1) 0px 0px 2px 0px, rgba(212, 198, 198, 0.1) 0px 0px 1px 0px;;
    border-radius: 0;
}
.mobile {
    width: 60% !important;
}
.gaming {
    width: 80% !important;
}
.cart-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.card-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* Team CSS */

#team {
    background-image: url(../images/team/team-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
 }

 #team::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #30235f;
    opacity: 0.85;
}

 #team hr {
    color: #ffffff;
    width: 50px;
}

.team {
    width: 84%;
    margin: 0 auto;
    position: relative;
    z-index: 111;
}

.team h2 {
    color: #ffffff;
}

.team p {
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

.team-member {
    border: 1px solid #ffffff;
}

.team-detail h4 {
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 900;
}

.team-detail p {
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.team-btn:hover {
    border: 2px solid #ffffff;
    color: #ffffff;
}

/* Work CSS */

.work-btn:hover {
    border: 2px solid #30235f;
    color: #30235f;
}